body {
    background-color: royalblue;
    margin: 10px;
    font-family: Garamond, serif;
    font-size: large;
    border-style: dashed;
    border-color: gold;
    color: lightgrey;

}

h1 {
    color: white;
   /* font-size: xxx-large;*/
}

h2 {
    color:white;
}

p {
    color: lightgrey;

}